

<div class="jumbotron jumbotron-fluid">
  <div class="container">
      {{#each wave}}
<h1 class="display-4">{{wave.wave_Name}} Sounds</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

{{/each}}